{% extends 'exhibitor/index.html' %}

{% block title %} Login  {% endblock %}
{% block page %}
<div class="row align-items-center vh-100">
    <div class="col-3 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary" style="margin: 1rem">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}