{% extends 'exhibitor/index.html' %}

{% block title %} Add moc  {% endblock %}
{% block page %}

<div class="row align-items-center vh-100">
    <div class="col-3 mx-auto">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h2>Dodaj MOC</h2>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary" style="margin: 1rem">Zapisz</button>
                </form>
                <a href="{% url 'user_page' %}" class="btn btn-primary" style="margin: 1rem">Cofnij</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}