{% extends 'exhibitor/index.html' %}

{% block title %} Edit  {% endblock %}
{% block page %}

<div class="row align-items-center vh-100">
    <div class="col-3 mx-auto">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h2>Edytuj Użytkownika</h2>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" style="margin: 1rem">Zapisz</button>
                </form>
                <a href="{% url 'home' %}" class="btn btn-primary" style="margin: 1rem">Cofnij</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}