{% extends 'exhibitor/index.html' %}

{% block title %} Home User  {% endblock %}
{% block page %}

		<h4> Hello {{ user.username }}</h4>
        <p>Twoja ilość prac w bazie danych to: {{ mocs|length }}</p>
        <p>Łączna wielkość twoich prac to: {{ table }} stołu(ów)</p>
        <p>Sprawdź aktualne wystawy <a href="{% url 'exhibitions'%}" class="btn btn-primary" style="margin: 1rem">Wystawy</a> </p>
        <hr>

{% for moc in mocs %}
    <div class="padding" style="padding: 1rem;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <p> Author:{{ moc.author }}<br>
                    Title:{{ moc.title }}<br>
                    Category:{{ moc.category }}<br>
                    Size:{{ moc.size }} table<br>
                    <img src="/media/{{moc.poster}}" class="movie-poster" style="width: 150px"><br>
                    <a href="{% url 'edit_moc' moc.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'delete_moc' moc.pk %}" class="btn btn-primary btn-sm">Delete</a>
                  <br>
                <p/>
            </div>
        </div>
    </div>
{% endfor %}



<div class="row align-items-center vh-100">
  <div class="col-3 mx-auto">
    <div class="card" style="width: 20rem;">
      <div class="card text-center">
        <div class="card-body">
            <a href="{% url 'add_moc'%}"  class="btn btn-primary" style="margin: 1rem">Dodaj model</a>
            <br>
            <a href="{% url 'add_exhibition'%}"  class="btn btn-primary" style="margin: 1rem">Organizuj wystawę</a>
            <br>
            <a href="{% url 'users'%}" class="btn btn-primary" style="margin: 1rem">Lista członków</a>
            <br>
            <a href="{% url 'logout' %}" class="btn btn-primary" style="margin: 1rem">Wyloguj</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}