{% extends 'exhibitor/index.html' %}

{% block title %} Home User  {% endblock %}
{% block page %}

		<h4> Hello {{ user.username }}</h4>
        <p>Twoja ilość prac w bazie danych to: tutaj wpisać wartość</p>
        <p>Łączna wielkość twoich prac to: tutaj wpisać wartosć</p>
        <hr>

{% for moc in mocs %}
    <div class="padding" style="padding: 1rem;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <p> Author:{{ moc.author }}<br>
                    Title:{{ moc.title }}<br>
                    Category:{{ moc.category }}<br>
                    Size:{{ moc.size }}<br>
                    posters: {{ moc.poster }}<br>
                  <br>
                <p/>
            </div>
        </div>
    </div>
{% endfor %}



<div class="row align-items-center vh-100">
  <div class="col-3 mx-auto">
    <div class="card" style="width: 20rem;">
      <div class="card text-center">
        <div class="card-body">
            <a href="{% url 'add_moc'%}"  class="btn btn-primary" style="margin: 1rem">Add Model</a>
            <br>
            <a href="{% url 'users'%}" class="btn btn-primary" style="margin: 1rem">Member List</a>
            <br>
            <a href="{% url 'logout' %}" class="btn btn-primary" style="margin: 1rem">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}